<div class="treasure-hunt">
  <div class="" id="background-img">
    <!-- <img src="{{settings.background}}" width="100%" height="100%" alt=""/> -->
    <!-- <img src="http://i.imgur.com/qCS8rsE.jpg" width="100%" height="100%" alt=""/> -->
    <!-- <div class="treasure-back" style="background-image:url('http://i.imgur.com/qCS8rsE.jpg')" width="100%" height="100%" alt=""/> -->
    <img class="treasure-back" data-ng-src="{{backgroundImage}}" width="100%" height="100%" alt=""/>
    <div ui-sortable ng-model="tiles">
      <div class="treasure-cell highlight-border" ng-repeat="tile in tiles" style="left: {{tile.width * tile.x}}%; top: {{tile.height * tile.y}}%;
      width: {{tile.width}}%; height: {{tile.height}}%;" ng-click="tileClicked(tile)" ng-drop="true" ng-drop-success="onDropComplete($data,$event, tile)">
          <div class="component-img" style="background-image: url({{tile.img}})" ng-drag="true" ng-drag-data="{{tile}}"></div>
          <!-- <div class="component-img" style="background-image: url({{tile.img}})" ng-drag="true" ng-drag-data="{{tile}}" ng-drag-success="onDragComplete($data,$event, tile)"></div> -->
      </div>
    </div>
  </div>
  <div class="treasure-editor">
    <form name="treasureForm">
      <div class="row">

        <div class="form-group col-sm-3">
          <label>Board Width:
            <input type="number" class="form-control" name="width" ng-model="board.width" ng-model-options="{ getterSetter: true }"/>
          </label>
        </div>
        <div class="form-group col-sm-3">
          <label>Board Height:
            <input type="number" class="form-control" name="height" ng-model="board.height" ng-model-options="{ getterSetter: true }"/>
          </label>
        </div>
        <div class="form-group col-sm-3">
          <label>Background Image:
            <input id="background-upload" type="file" class="form-control" name="height" ng-model="background-file" ng-model-options="{ getterSetter: true }"/>
          </label>
        </div>
      </div>

    </form>
  </div>
</div>

<script type="text/ng-template" id="addComponent.html">
  <button class="btn btn-default" type="button">
    Add
  </button>
</script>
