#background-img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.treasure-cell {
  position: absolute;
  // border: silver 5px solid;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
