<div id="form-content" class="modal-container" ng-if="!preview">
    <div class="modal-header">   
        <a class="close" ng-click='closeModal()'>×</a>
        <h3 class="modal-title">Create Static HTML Campaign</h3>
    </div>

    <div class="modal-body">
        <form name="staticHtmlForm" novalidate>

            <div class="form-group" ng-class="{'has-error': staticHtmlForm.statichtmlTitle.$touched && staticHtmlForm.statichtmlTitle.$invalid}">
                <label for="title"> StaticHTML Title </label>
                <input type="text" name="statichtmlTitle" class="form-control" ng-model="app.title" placeholder="StaticHTML Title" required ng-maxlength="64">

                <div class="help-block" ng-messages="staticHtmlForm.statichtmlTitle.$error" ng-if="staticHtmlForm.statichtmlTitle.$touched">
                    <p ng-message="required">This field is required</p>
                    <p ng-message="maxlength">This field is too long</p>
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': staticHtmlForm.statichtmlContent.$touched && staticHtmlForm.statichtmlContent.$invalid}">
                <label for="content"> StaticHTML Content </label>
                <textarea rows="50" cols="50" name="statichtmlContent" class="form-control" placeholder="StaticHTML Content" ng-model="app.content" required></textarea>

                <div class="help-block" ng-messages="staticHtmlForm.statichtmlContent.$error" ng-if="staticHtmlForm.statichtmlContent.$touched">
                    <p ng-message="required">This field is required</p>
                </div>
            </div>
        </div>  
    <div class="modal-footer">
        <button class="btn btn-info" ng-click="changePreviewStatus()" id="preview" > Preview</button>
        <button class="btn btn-success" ng-click="save()" id="submit" ng-disabled="staticHtmlForm.$invalid" > Save</button>
    </div>


        </form>
    </div>

</div> 

<!--Preview-->
<div id="form-content" class="modal-container" ng-if="preview">
    <div class="modal-header">
        <button class="btn btn-info" ng-click="changePreviewStatus()"> Back </button>   
        <h3 class="modal-title"><div ng-bind ="app.title"></div>
        </h3>
    </div>

    <div class="modal-body">
        <div ng-bind-html="app.content | rawHtmlFilter"></div>
        <span>&nbsp;</span>
        <span>&nbsp;</span>
    </div>    
</div>


