.test {
  float: right;
}
.jumbotron {
  text-align: center;
}
.home-background {
  background-image: url("/static/media/squaresBackground.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  padding-top: 70px;
}
.aprcot-title {
  color: #f4ae10;
}
.subtitle {
  color: #337ab7;
}
.btn-lg fb-lgn-btn {
  text-align: center;
}
