@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@nice-grey: rgba(98, 98, 98, 0.8);
@nice-green: #7ed7b1;
@nice-red: #E47F7C;
@nice-peach: #DB917E;
@nice-blue: #79AFE0;
@nice-yellow: #E7CE8E;
@nice-dark-brown: #4D4943;
@nice-orange: #ECB685;
@nice-teal: #7DCAD8;
@nice-white: #F8F8F8;
.application-thumbnail {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 10px 0;
  &:hover .application-img {
    transform: scale(10);
    opacity: 0;
  }
  &:hover .application-content {
    opacity: 1;
    transform: scale(1);
  }
}
.application-img {
  display: block;
  position: relative;
  width: 100%;
  padding: 10%;
  transition: all 0.7s ease-in-out;
}
.application-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: @nice-grey;
  color: #F8F8F8;
  transition: all 0.5s linear;
  opacity: 0;
}
.application-header {
  top: 20%;
  position: absolute;
  font-weight: bold;
  left: 0;
  right: 0;
  padding: 0 5%;
}
.application-body {
  bottom: 20%;
  position: absolute;
  left: 0;
  right: 0;
  padding: 0 5%;
}
.applcation-logo {
  color: @nice-white;
  font-size: 20em;
  text-align: center;
}
