<div class="row">
    <div class="col-md-6" ng-repeat="app in applications">
      <div class="application-thumbnail">
        <!-- <img class="application-img" ng-src="/static/media/applications/demos/{{ app.identifier }}.png" alt=""> -->
        <div class="application-img text-center" ng-style="{'background-color': app.backgroundColor}">
          <i class="fa applcation-logo" ng-class="app.icon" aria-hidden="true"></i>
        </div>
        <div class="application-content">
          <div class="application-header text-center">
            <h1>{{ app.name }}</h1>
          </div>
          <div class="application-body text-center">
            <h3>
              {{app.description}}
            </h3>
            <p ng-if="appAvailable(app.id)">
              <button class="btn btn-lg btn-primary" ng-click="showDemo(app.id, app.identifier)" role="button">Demo</button>
              <button class="btn btn-lg btn-success" ng-click="createCampaign(app.id, app.identifier, {})" ng-if="isLoggedIn" role="button">Create</button>
            </p>
          </div>
        </div>
        <div class="application-soon" ng-if="!appAvailable(app.id)">
          <div class="application-soon-text text-center">
            <h1> Coming Soon </h1>
          </div>
        </div>
      </div>
    </div>
</div>
