.application-thumbnail {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 10px 0;
}
.application-thumbnail:hover .application-img {
  transform: scale(10);
  opacity: 0;
}
.application-thumbnail:hover .application-content {
  opacity: 1;
  transform: scale(1);
}
.application-img {
  display: block;
  position: relative;
  width: 100%;
  transition: all 0.7s ease-in-out;
}
.application-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(98, 98, 98, 0.8);
  transition: all 0.5s linear;
  opacity: 0;
}
.application-header {
  color: #F8F8F8;
  top: 20%;
  position: absolute;
  font-weight: bold;
  left: 0;
  right: 0;
}
.application-body {
  bottom: 20%;
  position: absolute;
  left: 0;
  right: 0;
}
.applcation-logo {
  color: #F8F8F8;
  font-size: 20em;
  text-align: center;
}

#form-content .form-horizontal {
  padding: 10px 15px;
}
#form-content .alert-warning {
  margin-top: 15px;
  margin-bottom: 10px;
}
.angular-google-map-container {
  height: 400px;
}
.marker-labels {
  color: red;
  background-color: white;
  font-family: "Lucida Grande", "Arial", sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  border: 1px solid black;
  white-space: nowrap;
}

.treasure-hunt {
  position: relative;
  width: 100%;
  height: 50vh;
  padding: 1%;
}
.treasure-hunt-editor {
  position: relative;
  width: 100%;
  height: 100vh;
}
.center-editor {
  height: 100%;
  padding: 0;
}
.app-editor {
  height: 75%;
  padding: 0 15px;
  border-right: solid 1px #c6d0da;
}
.bottom-editor-menu {
  height: 25%;
  border: 1px solid #c6d0da;
  border-left: 0;
  border-bottom: 0;
  padding: 4%;
}
.left-editor-menu {
  height: 100%;
  border-right: 1px solid #c6d0da;
  padding: 0;
  padding-top: 1%;
}
.left-editor-menu::after {
  display: table;
  clear: both;
  content: '';
}
.left-editor-menu ul {
  margin: 0;
  padding: 0;
  background: white;
  color: #5f6f81;
  list-style: none;
  text-transform: none;
  font-weight: 300;
  font-family: 'Lato', Arial, sans-serif;
  line-height: 60px;
}
.left-editor-menu a {
  display: block;
  height: 100%;
  color: #5f6f81;
  text-decoration: none;
  cursor: pointer;
}
.left-editor-menu a:hover {
  background: #5f6f81;
  color: white;
}
.left-editor-menu .menu-item {
  display: block;
  float: left;
  height: 100%;
  width: 100%;
  text-align: center;
  box-shadow: inset 0 1px #c6d0da;
}
.left-editor-menu .menu-item:last-child {
  border-bottom: 1px solid #c6d0da;
}
.left-editor-menu .menu-item .menu-link {
  padding: 0 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}
.left-editor-menu .menu-item .save-btn {
  background: #5f6f81;
  color: white;
}
.treasure-back {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
#background-img {
  position: relative;
  height: 60%;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
#retrieve-background {
  width: 570px;
  height: 342px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.treasure-cell {
  position: absolute;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #8ed77f;
}
.height-100 {
  height: 100%;
}
.component-item-wrapper {
  padding: 5px;
}
.component-item-wrapper .component-add {
  height: 100%;
  width: 100%;
  border: solid 1px #5f6f81;
}
.component-item {
  position: relative;
  border: solid 1px #5f6f81;
  height: 100%;
  border-radius: 3px;
}
.component-img {
  display: block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.component-aspect {
  position: relative;
  height: auto;
  width: 50%;
  padding-bottom: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}
.component-add-icon {
  color: #75ffa0;
  font-size: 4em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.highlight-border {
  border: rgba(0, 0, 0, 0.5) 3px double;
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: #5f6f81;
  display: inline-block;
  padding: 1% 5%;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #5f6f81;
  color: white;
}
.inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
.inputfile + label {
  cursor: pointer;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
body {
  background-color: #e7e7e7;
  font-family: 'Lato', sans-serif;
}
.test2 {
  float: right;
  color: red;
}
#loading-bar .bar {
  background: #f4ae10;
}
#loading-bar-spinner .spinner-icon {
  border-top-color: #f4ae10;
  border-left-color: #f4ae10;
}
.btn-success {
  background-color: #8bcf9a;
  border-color: #8bcf9a;
  color: #F8F8F8;
}
.btn-primary {
  background-color: #80C5B9;
  border-color: #80C5B9;
  color: #F8F8F8;
}
.btn-danger {
  background-color: #D3455B;
  border-color: #D3455B;
  color: #F8F8F8;
}
.btn-warning {
  background-color: #EFC557;
  border-color: #EFC557;
  color: #F8F8F8;
}
.btn-anchor {
  color: #F8F8F8;
}
.navbar-default .navbar-nav > li > a {
  color: #626262 !important;
}

.contact-title h1 {
  color: #337ab7;
  text-align: center;
}
.help-inline,
.help-block {
  color: #FA8072;
}

.test {
  float: right;
}
.jumbotron {
  text-align: center;
}
.aprcot-title {
  color: #f4ae10;
}
.subtitle {
  color: #337ab7;
}
.btn-lg fb-lgn-btn {
  text-align: center;
}

.title h1 {
  text-align: center;
  color: #f4ae10;
}
#payment img {
  width: 100%;
}
.plans {
  margin-top: 4em;
}
.plans .pkg {
  text-align: center;
  border: 3px solid black;
  border-radius: 2%;
  border-color: #f4ae10;
}
.price-month {
  color: #337ab7;
}
.specs-list {
  list-style-type: none;
  text-align: left;
}
.paypal-form {
  margin-top: 10em;
  margin-bottom: 3em;
}
